<footer class="footer">
  <small>
    <a href="http://madelman.org/">Implemented by</a>
    Matt Adelman
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.sweetrevengehonolulu.com/delivery/">News</a></li>
    </ul>
  </nav>
</footer>
